content
{
    color: darkred;
    font-size: 25px;
    font-weight:900;
    margin:  auto;
    left: auto;
}
button
{
    margin: 7px;
    font-weight: bold;
    font-style: italic;

}
ul
{
    list-style: decimal;
    font-weight: bold;
}
